{{#partial "content"}}
    {{#if squads}}
        {{#each squads}}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Squad name is: <i>{{name}}</li>
                <li class="list-group-item">Cause is: {{cause}}</li>
            </ul>

                <button class="btn btn-info"><a href="squads/{{id}}/new-hero">Add a Hero to {{name}}</a></button>
                <button class="btn btn-secondary"><a href="squads/{{id}}"> Check {{name}} Heroes</a></button>

        {{/each}}
    {{else}}
        No Squads created yet!!
    {{/if}}
    <h4><a href="/squads-form">Add a new Squad</a></h4>
{{/partial}}
{{> layout.hbs}}